<mat-list>
  <h3 mat-subheader>Person</h3>
  <mat-list-item>
    <strong>Name:</strong>&nbsp; {{ person.name }}</mat-list-item>
  <mat-list-item>
    <strong>Gender:</strong>&nbsp; {{ person.gender }}</mat-list-item>
  <mat-list-item>
    <strong>Height:</strong>&nbsp; {{ person.height }}</mat-list-item>
  <mat-list-item>
    <strong>Birth year:</strong>&nbsp; {{ person.birth_year }}</mat-list-item>
</mat-list>

<mat-list>
  <h3 mat-subheader>Films</h3>
  <mat-list-item *ngFor="let film of names">{{ film }}</mat-list-item>
</mat-list>

<br/>

<button mat-button color="primary" (click)="backBtn()">Back</button>
